[Unit]
Description=V1FrontendDev
After=docker.service
Requires=docker.service
After=v1-gateway-dev.service
Requires=v1-gateway-dev.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStartPre=-/usr/bin/bash /home/bitnorm/clean-volumes.sh
ExecStart=/usr/bin/docker run --rm -v /home/bitnorm/v1-frontend-dev:/host:ro --volumes-from v1-gateway-dev alpine cp -rT /host/ /v1-static-dev/v1-gateway-dev/

[Install]
WantedBy=multi-user.target