/* Scrollbar Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #f8f8f8 #c0c0c0;
}

/* Scrollbar Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #f8f8f8 !important;
    /* background: #f8f8f8 !important; */
}

*::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 8px;
    border: 4px solid #f8f8f8;
}
