* {
  font-family: 'Nunito', sans-serif !important;
}

*:focus-visible {
  outline: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: #006097;
  cursor: pointer !important;
}

a.alt {
  color: #fff;
  font-weight: 500;
}

small {
  font-family: 'Nunito', sans-serif !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Display Flex */

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start-horizontal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.end-horizontal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
}

/*  */
